@font-face {
    font-family: iCiel Gotham;
    src: url(fonts/iCiel\ Gotham-Medium.ttf);
}

/* viewport >= 1024px */
@media only screen and (min-width: 1024px) {


    body {
        font-family: iCiel Gotham;
    }
    
    .topp {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 1180px;
        margin-left: 60px;
    }
    h3 {
        font-size: 30px;
    }
    .back {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 147.2px;
        height: 45.7px;
        border-radius: 5.6px;
        background-color: #3137DC;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
    }

    .code {
        width: 1180px;
        height: 400px;
        background-color: #939393;
        box-sizing: border-box;
        margin-left: 60px;
        margin-top: 20px;
        padding-right: 60px;
    }

    .poster {
        width:fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .poster .profile_pic {
        width: 45px;
    }
    .profile_pic {
        height: 45px;
    }
    .image_cropper {
        position: relative;
        width: 45px;
        height: 45px;
        margin-left: 60px;
        border-radius: 50%;
        overflow: hidden;
        
    }

    .active_block{
        margin-left: 10px;
    }
    .line1 {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
    }
    .line2 {
        font-size: 14px;
        color: #939393;
    }

    .comment_block {
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 90px;
        height: 410px;

        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .comment_block::-webkit-scrollbar {
        display: none;
    }

    #comment1, #comment2, #comment3, #comment4, #comment5, #new_comment {
        position: relative;
    }

    #comment1::before, #comment2::before, #comment3::before, #comment4::before, #comment5::before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 12px solid #3137DC;
        border-top: 8px solid #3137DC;
        border-bottom: 8px solid transparent;
        
        left: 80px;
        top: 26px;
    }
    #comment1::after, #comment2::after, #comment3::after, #comment4::after, #comment5::after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 12px solid #3137DC;
        border-top: 8px solid transparent;
        border-bottom: 8px solid #3137DC;
        
        left: 80px;
        top: 10px;

    }

    .commenter_pic {
        height: 36px;
        margin-top: 7px;
    }

    .comment_body {
        padding-top: 8px;
    }

    .comment_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .textt {
        margin-left: 60px;
        margin-bottom: 28px;
        width: 1080px;
    }
    .user_header {
        font-weight: 800;
        font-size: 20px;
        font-family: iCiel Gotham;
        background-color: #3137DC;
        color: #FFFFFF;
        padding: 10px 50px 10px 20px;
        box-sizing: border-box;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;

        width: 1080px;
        height: 44px;
    }
    .user_comment {
        background-color: #FFFFFF;
        color: #000000;
        padding: 10px 50px 10px 20px;
        box-sizing: border-box;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
    }

    .reactions {
        width:100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        margin-top: 20px;
    }
    .reactions div {
        padding-left: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .reactions img {
        width: 20px;
        padding-right: 7px;
    }



    /* NEW COMMENTS */
    #new_comment {
        margin-left: 20px;
        margin-top: 40px;
    }

    #new_comment .textt {
        margin-left: 60px;
        margin-bottom: 28px;
        width: 1170px;
    }
    #new_comment .user_header {
        font-weight: 800;
        font-size: 20px;
        font-family: iCiel Gotham;
        background-color: #3137DC;
        color: #FFFFFF;
        padding: 10px 50px 10px 20px;
        box-sizing: border-box;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;

        width: 1170px;
        height: 44px;
    }
    #new_comment .user_comment {
        background-color: #FFFFFF;
        color: #FFFFFF;
        padding: 10px 50px 10px 20px;
        box-sizing: border-box;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        height: 200px;
    }
    #new_comment .commenter_pic {
        height: 45px;
    }

    #new_comment::before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 12px solid #3137DC;
        border-top: 8px solid #3137DC;
        border-bottom: 8px solid transparent;
        
        left: 85px;
        top: 26px;
    }

    #new_comment::after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 12px solid #3137DC;
        border-top: 8px solid transparent;
        border-bottom: 8px solid #3137DC;
        
        left: 85px;
        top: 10px;
    }

    #new_comment .user_comment div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 1130px;
    }
    #new_comment .user_comment textarea {
        box-sizing: border-box;
        border-radius: 10px;
        padding: 5px;
        background-color: #353535;
        color: #FFFFFF;
        resize: none;

        font-family: iCiel Gotham;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        
    }

    #new_comment input[type=submit] {
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        justify-content: center;
        align-items: center;

        width: 147.2px;
        height: 42px;
        border-radius: 5.6px;
        background-color: #3137DC;
        border: none;

        font-family: iCiel Gotham;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
    }

}