@font-face {
    font-family: iCiel Gotham;
    src: url(fonts/iCiel\ Gotham-Medium.ttf);
}

/* viewport >= 1024px */
@media only screen and (min-width: 1024px) {
    html, body {
        color: #000000;
        background-color: #FFFFFF;
    }

    #gists {
        color: #3137DC;
    }
    
    /* side naavigation bar*/
    #sidenav {
        position: absolute;
        width: 253px;
        height: 694px;
        left:0px;
        top: 0px;

        background-color: #E3E1E1;
    }

    #links {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 160px;
        height: 262.5px;
        left: 0px;
    }

    #links a {
        display: flex;
        color: #000000;
        height: 44.8px;
        width: 176px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    div #focus {
        color: #FFFFFF;
        background-color: #4F33F6;
        box-shadow: 0px 3.2px 3.2px rgba(0, 0, 0, 0.25);
        border-radius: 0 9.6px 9.6px 0;
    }

    #links span {
        position: relative;
        width:80px;
        left: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }
    /* --------------*/

    /*main */
    #padlock {
        position: absolute;
        width: 40px;
        top: 56px;
        left: 1200px;
    }
    #profile_pic {
        position: absolute;
        width: 128px;
        left: 320px;
        top: 92.56px;
    }
    #greeting {
        position: absolute;
        margin: 0;
        font-size: 25.6px;
        line-height: 28.8px;
        left: 474.8px;
        top: 128px;
        font-style: normal;
        font-weight: 500;
    }
    #welcome {
        position: absolute;
        font-size: 17.12px;
        line-height: 22.4px;
        left: 475.2px;
        top: 140px;
        font-style: normal;
        font-weight: 500;
    }
    #create_button {
        position: absolute;
        flex-direction: column;
        display:flex;
        justify-content: center;

        width: 312px;
        height: 45.44px;
        left: 475.2px;
        top: 224px;
        border-radius: 5.6px;
        background-color: #3137DC;

        font-size: 17.6px;
        font-style: normal;
        font-weight: 500;
        line-height: 24.4px;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
    }

    #your_codes {
        position: absolute;
        width: 131.2px;
        height: 18.4px;
        top: 320px;
        left: 320px;
        margin: 0;

        font-size: 13.6px;
        line-height: 17.6px;
        color: #111111;
        font-style: normal;
        font-weight: 500;
    }
    
    #projects {
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        width: 800px;
        height: 176px;
        top: 360px;
        left: 320px;
    }

    .project_box {
        display: flex;
        flex-direction: column;
        background-color: #292929;
        color: #000000;
        border-radius: 9.6px;
        width: 152.64px;
        height: 164px;
        padding: 6px;
        margin: 0 48px 40px 0;
    }

    .project_box span {
        font-style: normal;
        font-weight: 500;
        font-size: 9.6px;
        line-height: 12px;
        color: #4F33F6;

    }
    .project_box hr {
        position: relative;
        color: #E2E1EA;
        width: 120px;
        top: 71.2px;
    }
    
    .language_button {
        font-size: 11.2px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.2px;
        width: 96px;
        height: 19.2px;
        border-radius: 9.6px;
        background-color: #E31792;
        color: #FFFFFF;
        text-align: center;
    }

    .big {
        position: relative;
        top: 25.6px;
        left: 8px;
        font-size: 14.4px;
        line-height: 19.2px;
        font-style: normal;
        font-weight: 500;
        color: #FFFFFF;
    }

    .options {
        position: relative;
        top: 72px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 144px;
        padding-left: 6.4px;
    }
    .options img {
        padding-right: 6.4px;
        display: inline;
        width: 12px;
        height: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #view {
        position: absolute;
        /*width: 135.8px;*/
        height: 29.2px;
        left: 50px;
        top: 2em;

        font-size: 24px;
        line-height: 32px;
        color: #BFBFBF;
        font-style: normal;
        font-weight: 400;
    }
}
