@font-face {
    font-family: iCiel Gotham;
    src: url(fonts/iCiel\ Gotham-Medium.ttf);
}

/* viewport >= 1024px */
@media only screen and (min-width: 1024px) {
    html, body {
        color: #3137DC;
        background-color: #FFFFFF;
    }

    #gists {
        color: #3137DC;
    }

    #view_code {
        position: absolute;
        width: 131px;
        height: 18.4px;
        top: 192px;
        left: 310px;
        margin: 0;

        font-size: 13.6px;
        line-height: 17.6px;
        color: #111111;
        font-style: normal;
        font-weight: 500;
    }

    #sidenav {
        position: absolute;
        width: 253px;
        height: 694px;
        left:0px;
        top: 0px;

        background-color: #E3E1E1;
    }

    #links {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 160px;
        height: 262.5px;
        left: 0px;
    }

    #links a {
        display: flex;
        color: #161616;
        height: 44.8px;
        width: 176px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    div #focus {
        color: #FFFFFF;
        background-color: #4F33F6;
        box-shadow: 0px 3.2px 3.2px rgba(0, 0, 0, 0.25);
        border-radius: 0 9.6px 9.6px 0;
    }

    #links span {
        position: relative;
        width:80px;
        left: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }

    .search_wrapper {
        background-color: #D7D7D7;
    }

    #greeting {
        position: absolute;
        left: 310.5px;
        top: 36px;
        font-size: 19.2px;
        line-height: 24px;
        font-style: normal;
        font-weight: 500;
    }
    #heading {
        position: absolute;
        font-size: 25.6px;
        line-height: 28.8px;
        left: 310.5px;
        top: 64px;
        font-style: normal;
        font-weight: 500;
    }

    #languages {
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        width: 1024px;
        height: 176px;
        top: 240px;
        left: 310.5px;
    }

    .language_box {
        display: flex;
        flex-direction: column;
        background-color: #292929;
        color: #000000;
        border-radius: 9.6px;
        width: 152.64px;
        height: 164px;
        padding: 6px;
        margin: 0 48px 40px 0;
        
    }
    .language_box img {
        display: inline;
        width: 20px;
        height: 20px;
    }
    .language_box span {
        font-style: normal;
        font-weight: 500;
        font-size: 9.6px;
        line-height: 12px;
        color: #4F33F6;
    }
    .language_box hr {
        position: relative;
        color: #E2E1EA;
        width: 120px;
        top: 62.4px;
    }
    
    .language_button {
        font-size: 11.2px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.2px;
        width: 96px;
        height: 19.2px;
        border-radius: 9.6px;
        background-color: #E31792;
        color: #FFFFFF;
        text-align: center;
    }

    .big {
        position: relative;
        top: 25.6px;
        left: 8px;
        font-size: 21.6px;
        line-height: 24px;
        font-style: normal;
        font-weight: 500;
        color: #FFFFFF;
    }

    .info {
        position: relative;
        top: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: 6.4px;
    }
    .info img {
        padding-right: 6.4px;
    }
    .info span {
        color: #FFFFFF;
    }
}




@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #view {
        position: absolute;
        /*width: 135.8px;*/
        height: 29.2px;
        left: 50px;
        top: 2em;

        font-size: 24px;
        line-height: 32px;
        color: #BFBFBF;
        font-style: normal;
        font-weight: 400;
    }
}
