@font-face {
    font-family: iCiel Gotham;
    src: url(fonts/iCiel\ Gotham-Medium.ttf);
}

/* viewport >= 1024px */
@media only screen and (min-width: 1024px) {
    html, body {
        background-color: #FFFFFF;
        color: #000000;
    }
    
    body {
        display: grid;
        grid-template-columns: 1fr 480px 1fr;
		max-width: 100vw;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .grid-col-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    #otp_box {
        width: auto;
        height: 380px;
        box-sizing: border-box;
        border-radius: var(--brd_rad_small);

        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        text-align: center;

        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, .25);
    }

    #form_head {
        font-size: 21px;
        margin: 12px;
    }

    hr {
        color: #C8C8C8;
    }

    .otp_body {
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #otp_message {
        width: 300px;
        color: #6B6B6B;
    }

    #otp_form {
        height: 160px;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    input {
        display: block;
    
        box-sizing: border-box;
        height: 50px;
        width: 270px;
        padding: 15px 36px;
        border: none;
        border-radius: var(--brd_rad_big);

        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        font-style: normal;
        text-align: center;

        background-color: #D2D2D2;
        color: #000000;
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }


    input[type=submit] {
        background-color: #000000;
        color: #FFFFFF;
        width: 400px;
    }
    input:focus {
        border: 2px solid #EEEEEE;
        outline: none;
    }

	.grid-col-3 {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center; 
	}
    .grid-col-3 img {
		width: 300px;
	}
}